/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take preceheader.main {
  position:fixed;
  left:200px;
  right:0;
  height:85px;
  background:#fff;
  box-shadow: 0 0px 15px -2px rgba(0,0,0,0.2);dence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require nifty/dialog
 *= require jquery.fileupload
 *= require jquery.fileupload-ui
 *= require_tree .
 *= require_self
 */
 



  fieldset {
    border:1px solid rgba(145, 218, 15, 0.46);
    background:#fff;
    padding-top:15px;
    padding-bottom:25px;
    margin-bottom:15px;
    legend {
      color:#5B6270; 
      margin:0 25px; 
      font-weight:300; 
      font-size:1.5em;
      border-bottom: 0px;
      width: auto;
    }
    &.padded { padding:15px 25px 25px 25px;}
    &.padded legend { margin:0;}
    dl {
      margin: 0 25px;
      margin-bottom: 15px;

    }
    dd {
        margin-bottom: 10px;
        font-size: 1.2em;
    }
    
    dl.third {
      width: 31%;
      margin: 0;
      float: left;
      &:nth-child(2) { margin-left:3%; width:31%;}
      &:last-child { float:right; width:32%;}
    }

    dl.half {
          width:49%;
          margin:0;
          float:left;
          &:nth-child(2) { float:right;}
    }

    .splitContainer {
      margin: 0 25px;
      margin-bottom: 45px;
      height: 50px; 
    }
  }
  p.submit {margin:0; background:#fff; border:1px solid #dce2eb; padding:25px; }
  
label {
  font-weight: lighter;
}

form {
      overflow:hidden;
      background:#F7F9FC;
      box-shadow: 0 0px 15px -2px rgba(0, 0, 0, 0.2);
      padding:15px;
      padding-left: 40px;
      padding-right: 40px;
}

.page-header {
  height:85px;
  background:#fff;
  box-shadow: 0 0px 15px -2px rgba(0,0,0,0.2);
  margin-top: -39px;
  margin-bottom: 8px;
  
  p.buttons { 
    float:right; 
    margin-top:27px; 
    margin-right:35px;
  } 

  h2 { 
    font-size:2.0em; 
    font-weight:300; 
    color:#333; 
    padding-left:32px;
    font-size: 2.0em;
    padding-left: 35px;
    padding-top: 27px
  } 
}

td.actions {
  text-align: right;
  margin-right: 30px;
}

table tbody tr td {
  a.edit img {
    
    background: none;
    margin-top: 3px;
    width: 16px;
    hight: 10px;
    background-size: 13px;
    display: inline-block;
    text-indent: -40000px;
    margin-right: 5px;
    hover {  border: 1px solid red; }
    //opacity: 0.3;
    hover {border:0; outline:0;}

  }


  a.delete img{
    background-repeat:no-repeat;
    margin-top: 3px;
    width: 16px;
    background-size: 13px;
    display: inline-block;
    text-indent: -40000px;
    //opacity: 0.3;
  }
}

a:hover img{ display: block; }
.black-background {background-color:#000000;}
.white {color:#ffffff;}