- model_class = Product
.page-header
  %p.buttons
    /= form_tag new_product_path, method: :get 
    /= submit_tag "new", name: nil, :class => 'btn btn-primary'
    = link_to t('new_product'), :new_product, :class => 'btn btn-success' 
  %h2= t '.title', :default => model_class.model_name.human.pluralize.titleize

= render "table", :products => @products, :categories => @categories 

